<div class="wrapper" *ngIf="!connected; else deconnect">
  <div class="bg-orange"></div>
  <div>
    <button class="btn" (click)="goToHome()">&lt; Retour</button>

    <div class="flex">
      <div style="width: 65%">
        <h1><strong>Se connecter</strong></h1>
        <br />
        <br />
        <br />
        <form name="form" #f="ngForm" (ngSubmit)="onLogin()">
          <div class="group">
            <label class="control-label" for="username">Email : </label>
            <input
              type="text"
              [(ngModel)]="myForm.username"
              name="username"
              class="form-control"
              required
            />
          </div>
          <div class="group">
            <label class="control-label" for="password">Mot de passe : </label>
            <input
              type="password"
              [(ngModel)]="myForm.password"
              name="password"
              class="form-control"
              required
            />
          </div>
          <div class="text-danger">{{ error }}</div>
          <button
            style="margin-top: 10px"
            type="submit"
            class="btn bg-orange c-white"
          >
            Connexion
          </button>
          <p>Nouveau ? <a> S'inscrire </a></p>
        </form>
      </div>
      <!-- <div *ngIf="this.authService.isAdmin()">
                  <div class="card-footer text-center">
                      <button class="btn btn-secondary" (click)="onAddUser()"> Nouveau Client </button>
                  </div>
              </div> -->
    </div>
  </div>
</div>
<ng-template #deconnect>
  <div class="container">
    <h1 class="text-center my-4">Déconnexion</h1>
    <div class="text-center">
      <label class="text-center"
        >Utilisateur : {{ this.authService.getUser().username }}</label
      >
    </div>
    <div class="text-center">
      <a class="btn btn-primary mb-3" (click)="disconnect()">
        Se Deconnecter
      </a>
      <p class="info-message text-muted">
        Vous serez redirigés vers la page d'accueil aprés la déconnexion
      </p>
    </div>
  </div>
</ng-template>
